body{
    background-color: rgb(240, 240, 240);
    min-height: 100%;
    height: 100vh;
}

main{
    min-height: 100%;
}

.conteiner-header{
    width: 95%;
    background-color: white;
    border: 1px solid black;
    top: 70px;
    margin-left: 200px;
    display: flex;
}
.conteiner-header h2{
    margin-right: 30px;
}

.admin-main {
    margin-left: 200px; /* ★サイドバーの幅分、右にオフセット ★ */
    flex-grow: 1;
    padding: 30px;
    margin-top: 5px;
    font-size: 20px;
}

.admin-nav{
    background-color: rgb(163, 192, 240);
    height: 100vh;
    width: 200px;
    top: 60px;
    position: absolute;
}

.list-admin{
    height: 50px;
    border:1px solid #35375d;
    width: 100%;
    margin: 0;
    padding: 0;
    line-height: 50px;
}

.empty{
    height: 300px;
}

select{
    border:none;
    background-color: rgb(163, 192, 240);
    height:  50px;
    font-size: 17px;
}

.conteiner-admin {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 20px;
    margin-bottom: 10px;
}

/* 各入力行のコンテナ */
.input-row {
    display: flex;
    align-items: flex-start; 
    margin-bottom: 10px;
    margin-top: 15px;
}

/* 左側のラベル部分（商品名、商品画像など） */
.input-label-area {
    width: 120px; 
    padding-right: 15px;
    padding-top: 5px;
    font-weight: bold;
    color: #333;
    flex-shrink: 0;
}

.input-label { 
    width: 160px; 
    min-width: 120px; 
    padding-right: 15px;
    padding-top: 5px;
    flex-shrink: 0;
    margin-right: 20%;
}

/* 右側の入力欄部分（テキストボックス、ボタンなど） */
.input-field-area {
    margin-left: auto; 
    flex-grow: 1; 
    display: flex; 
    align-items: center; 
}

/* テキストボックスのスタイル */
.input-field-area input[type="text"],
.input-field-area textarea,
.input-field-area input[type="number"],
.input-field-area input[type="email"],
.input-field-area .input-field-small,
textarea{
    width: 100%;
    max-width: 500px; 
    margin-right: 0; 
    padding: 8px;
    height: 35px; 
    border-radius: 8px;
}

textarea{
    height: 80px;

}

.file-upload-group {
    width: 100%;
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    gap: 10px;
}

.hidden-input{
    position: absolute;
    opacity: 0; 
    width: 300px; 
    height: 80px;
    z-index: 10;
    margin-left: 22%;
    
    /* マウスカーソルをポインターに維持（確認用） */
    cursor: pointer;
}

.custom-file-drop-area {
    width: 300px; 
    height: 80px;
    border: 1px solid;
    background-color: #fff;
    border-radius: 8px;
    
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    
    cursor: pointer;
}

.label-file{
    margin-left: 40%;
    margin-bottom: 10px;
    margin-top: 0;
}

p{
    display: flex;
    align-items: center;
}

.button-row{
    text-align: right;
}

@media screen and (max-width: 900px) {
    .admin-nav,
    .conteiner-header{
        top: 46px;
    }
}

@media  screen and (max-width: 610px) {
    .admin-nav,
    .conteiner-header{
        top: 40px;
    }
}