.admin-nav{
    background-color: rgb(163, 192, 240);
    height: 100vh;
    width: 150px;
    top: 60px;
    position: fixed;
}

.admin{
    margin: 0; 
    padding: 0;
    background-color: rgb(215, 220, 255);
    display: flex;/*横並びに*/
    align-items: center;/*縦中央そろえ*/
    height: 60px;
}

.list-admin{
    height: 50px;
    border:1px solid #35375d;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 50px;

}

select{
    border:none;
    background-color: rgb(163, 192, 240);
    height:  50px;
    box-sizing: border-box;
    font-size: 17px;
}