html{
    height: 100%;
    font-family: Arial, sans-serif;
}

body{
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font: bold;
    min-height: 100vh;
    height: 100%;
}

main{
    flex-grow: 1;
}

* {
    box-sizing: border-box; /* 全ての要素に適用 */
}

.main{
    margin-top: 30px;
    transition: margin-left 0.4s ease;
}

#menu-toggle.is-active ~ .main {
    margin-left: 170px; /* サイドバーの幅分オフセット */
}

/*グローバルナビゲーションバー*/
header{
    margin: 0; 
    padding: 0;
    background-color: rgb(215, 220, 255);
    display: flex;/*横並びに*/
    align-items: center;/*縦中央そろえ*/
    height: 60px;
}

.nav{
    width: 100%;
    height: 100%;
}

.nav ul{
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;/*liタグの・をなくす*/
    height: 100%;
    width: 100%;
}

.icon{
    width: 50px;
    height: 50px;
    margin: 5px;
}

/*アイコンの設定*/
.navIcon{
    font-size: 15px;
    height: 100%;
    align-items: center;
    width: 75px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.navIcon:hover{
    background-color: rgb(202, 208, 255);
    border-radius: 2px;
}

.navLink::after {
position: absolute;
left: 0;
content: '';
background:rgb(71, 69, 121);
width: 100%;
height: 1px;
bottom: -5px;       /*アンダーラインが開始する位置*/
opacity: 0;
visibility: hidden; /*ホバー前に、アンダーラインを可視化しない*/
transition: 0.3s;
}

.navLink:hover::after {
visibility: visible; /*ホバー後、アンダーラインを可視化する*/
bottom: 0px; /*下線が引く位置*/
opacity: 1;
}

.navLink{
    height: 100%;
    width: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
    text-align: center;
}

.navImage{
    display: block;
    margin-top:7px;
    text-align: center;
    width: 75px;
}

/*アイコンの右寄せ*/
.RightLi{
    width: 50%;
    justify-content: flex-end;
    display: flex;
    align-items: center;
    padding: 0;
    right:0;
    margin-left:auto;
    margin-right:0;
}

/*リンクの設定*/
a{
    text-decoration: none;/*リンクの下線をなくす*/
    height: 100%;
}

li a{
    color: black;/*liタグの文字色を黒に*/
}

/*ロゴの設定*/
h3{
    max-width: 100%;
    height: auto;
}

/*検索バーの設定*/
.searchList{
    width: 52%;
    height: 100%;
    margin:0;
    padding:0;
}

.search-inner {
    display: block;
    padding: 0 5px;
}

.search-inner form {
    display: block;
    position: relative;
    height: 25px;
}

.search-inner form input {
    border-radius: 15px;
    border: solid 1px rgb(132, 132, 132);
    width: 100%;
    display: block;
    position: relative;
    height: 100%;
    line-height: 1;
    font-size: 12px;
    padding: 0 10px;
    line-height: 1;
    margin-top:18px;
    outline: none;
    margin-left: 5px;
}

.search-inner form input::placeholder {
    position: relative;
    font-size: 12px;
}

.search-inner form button{
    position: absolute;
    top: 50%;
    font-size: 16px;
    transform: translateY(-50%);
    border: none;
    background: none;
    box-shadow: none;
    outline: none;
    right: 5px;
    background-color: transparent;
}

.searchIcon{
    width: 20px;
    padding: 0;
}

/*ハンバーガーメニューの設定*/
.menu-button {
    display: flex;
    flex-direction: column;
    justify-content: space-around;/*余白を均等にする*/
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: absolute;
    left: 3px; /* 右上に配置 */
    top: 60px;
    z-index: 100;
    background: none;
    border: none;
}

.menu {
    position: fixed;
    left: -250px; /* 画面左側に完全に隠す */
    width: 160px;
    height: 100vh; /* 画面の残りいっぱい */
    transition: left 0.4s ease; /* スライドアニメーション */
    z-index: 99;
    background-color: rgb(249, 249, 249);/* メニューバー背景色*/
    top: 60px;/* ナビゲーションバーの高さからスタート */
    padding:0;
    margin:0;
}

.menu-item{
    margin-top: 28px;
    margin-left: 3px;
}

.menu-button .bar {
    display: block;
    width: 30px;
    height: 2px;
    border-radius: 3px;
    background: #7d7d7d;
    transition: all 0.4s;
}

.menu.is-open {
    left: 0; /* 画面内にスライドイン */
}

/* アイコンがアクティブな時 (X印への変形) */
.menu-button.is-active .bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 7.5px); 
}
.menu-button.is-active .bar:nth-child(2) {
    opacity: 0; /* 真ん中の線を消す */
}
.menu-button.is-active .bar:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -7.5px); 
}

.menu-ul{
    padding: 0;
    margin: 0;
    list-style: none;
    margin-bottom: 5px;
    width: 100%;
    margin-top: 0;
}

.menu-ul li{
    font-size: 17px;
}

.menu-hover:hover{
    color:rgba(72, 83, 232, 0.929);
    text-decoration:underline; /*下線を引く*/
    text-decoration-color: rgb(113, 110, 191);
}

.menu-btn {
    right: 10px;
    background-color: rgb(98, 126, 197);
    color: rgb(253, 253, 253);
    border: none; 
    margin-top: 3px;
    border-radius: 2px;
    height: 25px;
    margin-left: 110px;
    box-shadow: none;
    text-align: center;
}

.size{
    width: 60px;
    height: 20px;
    border: 1px solid #7d7d7d;
    border-radius: 3px;
}

.footer{
    background-color: rgb(197, 197, 197);
    display: block;
    position:static;
    width: 100%;
    height: 150px;
    margin:0;
    padding:0;
    margin-top: 10px;
    bottom:0;
}

/*入力関係*/
.input label{
    font-weight: bold;
    width: auto; 
    min-width: auto;
    display: block; 
    margin-bottom: 2px;
}

.input{
    text-align: left;
    margin-bottom: 15px;
    padding-left: 0;
}

/*ログイン画面*/
.login{
    margin: 0 auto;
    border: 1px solid #7d7d7d;
    background-color: #f9f9f9;
    width: 60%;
    margin-bottom: 30px;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 15px;

}

.login-header{
    background-color: #68a7ea;
    border: 1px solid #7d7d7d;
    margin:0;
    box-sizing: border-box;
}

.login-container{
    background-color: #f1f1f1;
    border: 1px solid #7d7d7d;
    padding: 10px;
}

/*見出しと入力欄のスタイル */
.center-content h1,
.center-content h2,
.center-content h3{
    margin: 0 0 10px 0; 
    max-width: none;
    padding-left: 0;
    font-weight: normal;
    font-size: 22px;
    margin-bottom: 14px;
    text-align: left;
}

.form-container{
    width:80%;
    margin:0 auto; /* フォーム全体を中央揃え */
    padding: 30px 30px;
}

.form-container label{
    text-align: left;
    padding-left: 5px;
}

/*テキストボックス*/
.customer-text{
    width:100%;
    padding: 8px;
    height: 40px;
    border-radius: 5px;
    border: solid 1px rgb(132, 132, 132);
}

.min-text{
    width: 100px;
    padding: 8px;
    border-radius: 3px;
    border: solid 1px rgb(106, 106, 106);
}

/*カードの設定*/
.container{
    border-radius: 5px;
    width: 80%;
    height: 100px;
    margin-bottom: 5px;
    text-align: center;
    margin:0;
    padding:0;
    margin-bottom: 6px;
}

.center a{
    width: 140px;
    height: 100%;
    text-align: left;
}

.container h4{
    text-align: left;
    margin-left: 5px;
}

/*色*/
.grey{
    background-color: #eae9e9;
    border: solid 2px #bfbfbf;
}

.greenBtn{
    background-color: rgb(85, 187, 148);
}

.blueBtn{
    background-color: rgb(101, 152, 206);
}

.redBtn{
    background-color: rgb(226, 95, 95);
}

.yellowBtn{
    background-color: #ffff97;
}

.thinblue{
    background-color: rgb(210, 218, 255);
    border: solid 1px rgb(145, 157, 213);
}

.blue-text{
    color: #5db8e9
}

.black{
    color: black;
}

/*ボタンの設定*/
.btn-base{
    border: none;
    color: white;
    width: 140px;
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    box-shadow: none;
    padding: 0 20px;
}

.btn-group{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;/*ボタン間の隙間*/
    margin-top: 30px;
    padding-bottom: 20px;
    width: 100%;
}

.btn-group a{
    align-items: center;
    width: 150px;
}

.btn-wrapper{
    display: inline-block;
}

.center{
    text-align: center;
    margin-top: 30px;
}

.login-btn{
    text-align: center;
    width: 80%;
    height: 60px;
    font:bold;
}

/*画面サイズが750pxの設定*/
@media screen and (max-width: 900px) {
    .navImage{
        margin-top: 3px;
    }

    header{
        height: 46px;
    }

    .navIcon{
        font-size: 11px;
    }

    .navLink{
        width: 55px;
    }
    
    .searchIcon{
        width: 20px;
    }

    .search-inner form {
        height: 22px;
    }
    
    .search-inner form input {
        margin-top: 11px;
    }

    .menu{
        top:46px;
        width: 120px;        
    }

    #menu-toggle.is-active ~ .main{
        margin-left: 130px;
    }

    .menu li{
        font-size:14px;
    }

    .menu-button {
    top: 46px;
    }

    .menu-btn{
        margin-left: 75px;
    }

    .icon{
        width: 40px;
        height: 40px;
        margin: 3px;
        box-sizing: border-box;
    }
}

/*画面サイズが610px以下*/
@media screen and (max-width: 610px) {
    .navImage{
        margin-top: 6px;
    }

    .navLink{
        width: 40px;
    }

    header{
        height: 40px;
    }

    .navIcon{
        font-size: 8px;
    }
    
    .searchIcon{
        width: 17px;
    }

    .search-inner form {
        height: 20px;
    }
    
    .search-inner form input {
        margin-top: 10px;
    }

    .menu{
        top:40px;
        width: 110px;
        
    }

    #menu-toggle.is-active ~ .main{
        margin-left: 120px;
    }

    .menu li{
        font-size:12px;
    }

    .menu-button {
    top: 40px;
    }

    .login{
        width: 350px;
        font-size: 10px;
    }

    .icon{
        width: 35px;
        height: 35px;
        margin: 3px;
    }
}